.form {
  background: #fffcf2;
  text-align: center;
}

.form * {
  display: block;
  margin: 10px auto;
}

.form-label {
  vertical-align: middle;
}

.edit-form {
  display: inline-block;
  max-width: 1000px;
  border: 1px solid #2F0F07;
  background: #fffcf2;
  min-width: 600px;
}

.form > textarea {
  resize: none;
  height: 100px;
}
.edit-form * {
  display: block;
}

.add-shave-button {
  position: absolute;
  right: 30px;
  font-size: 22px;
}
/* 
.add-product-button {
  margin-bottom: 20px;
  margin-left: 15px;
  float: right;
} */

.community-checkbox > * {
  display: inline;
  margin: 4px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.close:before {
  content: '✕';
}

.close {
  font-size: 1.5em;
  border: none;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  background: #fffcf2;
}

.form input,
.form select,
.form textarea {
    background-color: #fff;
    border-color: #e0e0e0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    border-width: 1px;
    border-style: solid;
    color: #474e57;
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
}

.form select {
  height: 35px;
}