
.landing-page{
  margin: auto;
}

/* These should probably be moved to their own component */
.sign-up-container{
  padding: 10px;
  display: inline-block;
  border: 1px solid #2F0F07;
  background: #BBAF96;
}

.sign-up-form-container{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.sign-up-form-container input{
  margin-bottom: 5px;
}

