.collection-list{
    max-width: 1000px;
    border: 1px solid black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    margin: 0 auto;
  }

  .collection-list > * {
    display: inline-block;
  }
  
  .collection-item{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid darkgreen;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    text-align: center;
    display: inline-block;
    font-family: 'Charmonman', cursive;
  }

  .collection-item-type {
    font-variant: small-caps;
    text-decoration: underline;
  }