.login-error {
  color: red;
}

.test {
  color: orange;
  font-size: 1em;
}

/* Nav Bar Styles */
.topnav {
  overflow: hidden;
  background-color: #3D2A24;
  border-bottom: 1px solid #1E0904
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

.right-align {
  float: right;
  padding: 20px;
}

/* Navbar links on mouse-over */

.login-button {
  /* display: block; */
  /* float: right; */
}

.form-login {
  text-align: right;
}

.form-login, .logout-btn {
  float: right;
}

#user, #password {
  padding: 6px;
  margin-top: 8px;
  font-size: 1em;
  border: none;
  width: 150px;
}

.logout-btn, .form-login button {
  background: #3D2A24;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  color: white;
  font-family: 'Lato', sans-serif;
}

.logout-btn {
  padding: 14px 16px;
}

.form-login-container{
  /* display: flex; */
  justify-content: right;
  padding-right: 36px;
}


.form-login >  label {
  display: inline-block;
  margin: 10px;
  font-size: .8em;
}

.form-login > label > * {
  display: block;
}

.form-login label{
  color: white;
  text-align: left;
}

#home-nav	{
  color: white;
  font-size: 0.75em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 20px;
}

.topnav .icon {
  display: none;
}

.topnav .js-toggle-login-form {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 720px) {
  .topnav .js-toggle-login-form {
    position: absolute;
    display: block;
    right: 26px;
    top: 20px;
  }
  .topnav .form-login {
    display: none;
  }
  .login-button {
    display: flex;
  }
  .topnav.responsive .form-login-container {
    background-color: red;
    display: absolute;
    right: 20px;
    top: 50px;
  }
  .topnav.responsive .form-login {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .form-login { display: none; }
  .form-login {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 870px) {
  .topnav .right-align a, .topnav .logout-btn {display: none;}
  .topnav a.icon {
    position: absolute;
    float: right;
    display: block;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 870px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
  }

  .topnav.responsive .right-align a, .topnav.responsive .logout-btn {
    display: block;
    text-align: right;
  }

  .topnav.responsive .right-align a {
    float: none;
  }

  .topnav.responsive .logout-btn {
    float: right;
    padding: 14px 16px;
  }

}
