.login-error {
  color: red;
}

.test {
  color: orange;
  font-size: 20px;
}

/* Nav Bar Styles */
.topnav {
  overflow: hidden;
  background-color: #3D2A24;
  border-bottom: 1px solid #2F0F07
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.right-align {
  float: right;
  padding: 20px;
  padding-top: 40px;
}

/* Navbar links on mouse-over */

.login-button {
  display: block;
  float: right;
}

.form-login {
  text-align: right;
}

.form-login, .logout-btn {
  float: right;
}

#user, #password {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
}

.logout-btn, .form-login button {
  background: #3D2A24;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.logout-btn {
  padding: 14px 16px;
}

.form-login-container{
  /* display: flex; */
  justify-content: right;
  padding-right: 20px;
}


.form-login >  label {
  display: inline-block;
  margin: 10px;
}

.form-login > label > * {
  display: block;
}

.form-login label{
  color: white;
  text-align: left;
}

#home-nav	{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

.topnav .icon {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 870px) {
  .topnav .right-align a, .topnav .logout-btn {display: none;}
  .topnav a.icon {
    position: absolute;
    float: right;
    display: block;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 870px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
  }

  .topnav.responsive .right-align a, .topnav.responsive .logout-btn {
    display: block;
    text-align: right;
  }

  .topnav.responsive .right-align a {
    float: none;
  }

  .topnav.responsive .logout-btn {
    float: right;
    padding: 14px 16px;
  }

}
