.shave-history, .product-container {
  margin: auto;
  max-width: 1000px;

  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .8em;
  grid-column-gap: .6em;
}

.shave-history {
  grid-template-columns: 200px auto;
}

.shave-content{
  
}

.shave-history h2 {
  width: 100%;
  /* text-align: center; */
}

.add-shave-button {
  /* margin-left: auto; */
}

.shave-nav-container {
  width: 200px;
}

.shave-nav {
  /* display: flex;
  flex-direction: column;
  float:left; */

  position: fixed;
  border: 2px solid black;
  background: white;
  /* margin-right: 5px; */
  padding: 15px 20px;
}

.shave-nav > * {
  margin: 5px 0;
}

.shave-date-filter-container{
  display: inline-flex;
  /* float: left; */
  /* margin-left: auto; */
  flex-direction: column;
  justify-content: right;
}

.shave-date-filter-container input{
  display: block;
}

.shave-date-filter{
  margin-top: 5px;
}

.shave-list-content{
  display: flex;
  border: 2px solid #2F0F07;
  margin: auto;
  background: #5B3226;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shave-list-item{
  margin: 10px;
  padding: 24px;
  display: inline-block;
  width: 300px;
  border: 1px solid #2F0F07;
  background: #D7D0C1;
}

.shave-list-item h3{
  text-align: center;
}

.shave-list-item-products{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .8em;
  grid-column-gap: .6em;
}

.shave-list-item-products--label{
  /* text-align: right; */
}

.shave-form-link {
  position: relative;
  float: right;
  top: 25px;
  right: 15px;
}

.shave-form-link button {
  font-size: 1em;
}


.shave-form-link::after {
  clear: both;
}
.shave-history {
  margin: auto;
  max-width: 1000px;
}

.shave-history h2 {
  display: inline-block;
}

.Modal {
  position: fixed;
  overflow: auto;
  top: 120px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background-color: #fffcf2;
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Overlay {
  background: rgba(73, 71, 69, 0.308);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 663.636px) {
  .Modal {
    top: 120px;
    left: 0;
    bottom: 150px;
    right: 0;
  }

  .shave-history {
    grid-template-columns: auto;
  }

  .shave-nav-container {
    width: 100%;
  }

  .shave-nav {
    position: static;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  
  .shave-header {
    text-align: center;
  }

  .shave-date-filter-container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .shave-date-filter{
    margin: 0 10px;
  } 

}