.shave-history {
  margin: auto;
  max-width: 1000px;
}

.shave-list{
  /* border: 1px solid #2F0F07; */
}

.shave-list-content{
  display: flex;
  border: 2px solid #2F0F07;
  margin: auto;
  background: #5B3226;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shave-list-item{
  margin: 10px;
  padding: 10px;
  display: inline-block;
  width: 300px;
  border: 1px solid #2F0F07;
  background: #D7D0C1;
}

.shave-list-item > img {
  width: 280px;
}

.shave-list-item-products{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .8em;
  grid-column-gap: .6em;
}

.shave-list-item-products--label{
  /* text-align: right; */
}

.shave-form-link {
  position: relative;
  float: right;
  top: 25px;
  right: 15px;
}

.shave-form-link button {
  font-size: 1em;
}


.shave-form-link::after {
  clear: both;
}
.shave-history {
  margin: auto;
  max-width: 1000px;
}

.shave-history h2 {
  display: inline-block;
}

.Modal {
  position: absolute;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background-color: papayawhip;
  }

.Overlay {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}