@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  padding: 0;
}

.rating > div > input { 
  display: none; 
} 

.rating > div > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > div > label { 
  /* color: #ddd; */
  color: #aaa;
  float: right; 
}

.rating > div > label:after {
  clear: both;
}

.rating > div {
  display: inline-block;
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > div > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > div > label:hover, /* hover current star */
.rating:not(:checked) > div > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > div > input:checked + label:hover, /* hover current star when changing rating */
.rating > div > input:checked ~ label:hover,
.rating > div >label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > div > input:checked ~ label:hover ~ label { color: #FFED85;  } 
