@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  padding: 0;
}

